# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# Ignore everything
*

# But not these files...
!/.gitignore
!/.gitattributes

!*.go
!go.sum
!go.mod

!README.md
!LICENSE

!Makefile
!.github/**
!.air.toml

!sample.env
!docs/**
!tests/**
!cmd/reaper/dist/**


.DS_Store

# ...even if they are in subdirectories
!*/

!/reaperbot/
!/reaperbot/**
