services:
  reaper:
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env
    environment:
      - ENV=docker
      - HOST=0.0.0.0
      - PORT=8000
      - PROXY_PORT=8080
      - OPENAI_API_KEY=your_openai_key
    volumes:
      - ./files:/app/files
    ports:
      - 8000:8000
      - 8080:8080
