html {
    text-align: center;
    color: white;
    overflow-y: hidden !important;
}

body {
    margin: 0;
    color: white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/Satoshi-Regular.woff2") format("woff2");
}

#app {
    height: 100vh;
    text-align: center;
}
