name: Web UI
on:
  pull_request:
jobs:
  test:
    name: Web UI Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Start Server
        env:
          HOST: 0.0.0.0
          PORT: 8000
        run: |
          make run &
          sleep 5

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Setup npm
        run: npm init -y

      - name: Install Playwright
        run: npm install @playwright/test

      - name: Install Playwright Browsers
        run: npx playwright install chromium --with-deps

      - name: Run Playwright tests
        run: npx playwright test

